body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.Color1 {
  background-color: rgb(174, 0, 255);
  position: absolute;
  left: -2px;
  top: 324px;
  width: 1924px;
  height: 764px;
  z-index: 3;
}
